/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Rubik:wght@300;400&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=IBM+Plex+Sans+Arabic:wght@100;300;400;500&family=Rubik:wght@300;400&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
/* ======= scrollbar code ========= */
::-webkit-scrollbar {
  width: 13px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  padding-right: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2f2f309c;
  border-radius: 30px;
  margin: 3px;
}

:root {
  --green-color: #0d4403;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fffaf5;
}
button {
  cursor: pointer;
}
section {
  background-color: #fffaf5;
}
::placeholder {
  color: #1f1f1fbf;
}

/* ======== navbar section ========= */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100vw;
  z-index: 100;
  transition: 0.3s;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.navimg {
  width: 80px;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  margin-left: 30px;
  align-items: start;
  margin-top: 10px;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 30px;
  border-radius: 2px;
  background-color: #ffffffc9;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(50px);
}

.nav-links li a:hover::before {
  opacity: 1;
  transform: translateX(0);
}

.nav-bar .searchBox {
  display: flex;
  align-items: center;
}

.searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.searchToggle i {
  position: absolute;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  backdrop-filter: blur(60px);
}

.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}
.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: rgba(255, 255, 255, 0.856);
  backdrop-filter: blur(60px);
  border: none;
  outline: none;
}

.search-field i {
  position: absolute;
  color: #3d3d3f;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
nav.stiky {
  background: #fffaf5;
  transition: 0.3s;
  box-shadow: -1px -12px 40px 0px rgba(0, 0, 0, 0.338);
  height: 75px;
}
nav i {
  color: #fffaf5;
}
nav.stiky .nav-links li a {
  color: #2c2c2c;
}
nav.stiky .nav-links li a::before {
  background: #292929c9;
}
nav.stiky i {
  color: #2c2c2c;
}
nav.stiky ::placeholder {
  color: #000000a2;
}
nav.stiky .search-field input {
  color: #000;
  outline: 1.5px solid #000;
}
nav.stiky .search-field input:focus {
  outline: 2px dotted #000;
}
nav.stiky .search-field i {
  color: #f9f9f9;
}
nav.stiky .login {
  background: #0d4403;
  color: #fff;
}
nav.stiky #login::before {
  background: #023758;
}
.login {
  background-color: #fff;
  padding: 8px 10px;
  color: #0d4403;
  border-radius: 7px;
  margin-top: -8px;
  font-weight: 550;
}
#login::before {
  background: #ffffff;
}
@media (max-width: 700px) {
  nav {
    backdrop-filter: none;
    height: 65px;
  }
  nav.stiky {
    height: 65px;
  }
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    padding: 20px;
    backdrop-filter: blur(20px);
    z-index: 100;
    transition: all 0.4s ease;
    background-color: #ffffff14;
    z-index: 100;
  }
  .s-a-k-img {
    width: 265px;
  }
  nav.active .menu {
    left: 0;
  }
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    /* color: #3d3d3f; */
    font-size: 24px;
    cursor: pointer;
    margin: 0;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

/* ======== header section ======== */
header {
  overflow: hidden;
}
.container {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  /* align-content: center; */
  justify-content: center;
}
.slide-1 {
  background: url("img/slide-1.jpeg");
}
.slide-2 {
  background: url("img/slide-2.jpg");
}
.slide-3 {
  background: url("img/slide-3.jpeg");
}
.slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  overflow-x: hidden;
  z-index: -100;
}

.caption {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px 0px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
}
.l {
  left: 0;
  z-index: 1;
}
.r {
  right: 0;
  z-index: 1;
}
.header-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: #e1e1e1;
  line-height: 3rem;
  background-color: #0000008d;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.header-info h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.6rem;
}
.header-info h2 {
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 14px;
  margin-right: 10px;
  color: #bababa;
}

/* ====== about section ======= */
.about-container {
  /* background-color: hsl(30deg 100% 98.04%); */
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-img {
  margin: 20px;
  width: 320px;
  border-radius: 20px;
}
.about-info {
  margin: 20px;
  flex-basis: 420px;
}
.about-info h3 {
  text-align: center;
  font-size: 0.98em;
  letter-spacing: 0.1rem;
  color: var(--green-color);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.about-info h3::after {
  content: "";
  margin-top: 3px;
  margin-left: 10px;
  width: 3rem;
  height: 2.5px;
  border-radius: 40px;
  background: var(--green-color);
}
.about-info h3::before {
  content: "";
  margin-top: 3px;
  margin-right: 10px;
  width: 3rem;
  height: 2.5px;
  border-radius: 40px;
  background: var(--green-color);
}
.about-info h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  font-weight: 500;
}
.about-info p {
  color: #1b1b1bac;
}

/* ======= teachers section ======= */
.teachers-container {
  padding-top: 30px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 60px;
}
.teachers-info {
  margin-top: 0px;
  max-width: 330px;
  text-align: center;
}
.teachers-info h3 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--green-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.teachers-info h3::after {
  content: "";
  margin-top: 3px;
  margin-left: 10px;
  width: 3rem;
  height: 2.5px;
  border-radius: 40px;
  background: var(--green-color);
}
.teachers-info h3::before {
  content: "";
  margin-top: 3px;
  margin-right: 10px;
  width: 3rem;
  height: 2.5px;
  border-radius: 40px;
  background: var(--green-color);
}
.teachers-info h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  letter-spacing: 3px;
}
.teacher-btn {
  color: #fff;
  background: #0d4403;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 55px;
}
.teacher-btn:hover {
  background: #0b4402;
}
/* ======= offres section ======= */
.offers {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 40px;
}
.offers-info {
  margin-top: 0px;
  max-width: 330px;
  text-align: center;
  margin-bottom: 30px;
}
.offers h3 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--green-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.offers h3::after {
  content: "";
  margin-top: 3px;
  margin-left: 10px;
  width: 3rem;
  height: 2.5px;
  border-radius: 40px;
  background: var(--green-color);
}
.offers h3::before {
  content: "";
  margin-top: 3px;
  margin-right: 10px;
  width: 3rem;
  height: 2.5px;
  border-radius: 40px;
  background: var(--green-color);
}
.offers h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  letter-spacing: 3px;
}
.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 0px;
  flex-grow: 1;
  min-height: 100px;
  max-height: 300px;
  min-width: 200px;
  max-width: 400px;
  gap: 10px;
}
.card-info {
  background: #fff9f5;
  box-shadow: 0 5px 20px #0000003f;
  border-radius: 14px;
  padding: 20px;
}
.card h1 {
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #0a151dc8;
  margin: 0;
}
.card h2 {
  color: #0d4403;
  margin-top: 5px;
}
.card details {
  margin-top: 10px;
  font-size: 15px;
  color: #0d4403;
}
.offers-btn {
  font-size: 20px;
  width: 100%;
  color: #fff;
  background: #0d4403;
  border-radius: 10px;
  border: none;
  padding: 10px 0;
}
.offers-btn i,
.offers-more i {
  margin-left: 10px;
  transition: all 0.3s;
}
.offers-btn:hover i,
.offers-more:hover i {
  margin-left: 15px;
}
.offers-more {
  padding: 13px 25px;
  background: #0d4403;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  border: none;
}

/* ======== footer section ======== */
footer {
  background: #0d4403;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  gap: 50px;
}
.in-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
}
.get-in-touch {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.get-in-touch span {
  color: #fff;
  font-size: 40px;
}
.gin {
  display: flex;
  gap: 20px;
}
.f i {
  color: #ffffff;
  font-size: 25px;
  padding-top: 10px;
}
.g-i-t-m {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}
.g-i-t-m p,
.g-i-t-m a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  text-transform: none;
  letter-spacing: 1px;
}
.g-i-t-m a:hover {
  text-decoration: underline;
}
.g-i-t-m a:visited {
  color: #fff;
}
.media-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer i {
  color: #fff;
  font-size: 40px;
}

.copyright {
  color: #fff;
  border-top: 1px solid #ffffffad;
  padding: 30px;
  width: 100%;
  text-align: center;
}

.copyright span a {
  color: #fff;
}

/* ============ scroll up button =========== */
.up-btn {
  position: fixed;
  width: 40px;
  height: 50px;
  border-radius: 50px;
  bottom: 30px;
  right: 30px;
  background: #0d4403;
  display: grid;
  place-items: center;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.285);
  transition: all 0.3s;
  opacity: 0;
}
.up-btn.stiky {
  bottom: 30px;
  opacity: 1;
  transition: all 0.3s;
  animation: up-down 1s infinite;
}
@keyframes up-down {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 20px;
  }
}

/* ======== first breakpoint ======== */

@media (max-width: 900px) {
  .header-info h1 {
    font-size: 2.4rem;
  }
  .header-info h2 {
    font-size: 24px;
    word-spacing: 2.3px;
    margin-right: 5px;
  }
  .in-footer {
    flex-direction: column;
  }
  .media-icons {
    flex-direction: row;
  }
}

@media (max-width: 700px) {
  .l {
    top: 9.5rem;
  }
  .r {
    position: absolute;
    top: 70vh;
  }
}
@media (max-width: 600px) {
  .slide {
    height: 400px;
  }
  .header-info {
    height: 400px;
  }
  .container {
    /* height: 400px; */
  }
  .header-info h1,
  .header-info h2 {
    display: none;
  }
  .r,
  .l {
    top: 210px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container2 {
  /* position: relative; */
  padding: 60px;
  max-width: 500px;
  font-family: "Rubik", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}


.label {
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 10px;
  margin-bottom: 3px;
}

input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0d4403;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#success-message {
  text-align: center;
  margin-top: 20px;
  color: #28a745;
}

@media (max-width: 600px) {
  .container {
      padding: 15px;
      margin: -15px;
  }

  button {
      font-size: 14px;
  }
}
