/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Rubik:wght@300;400&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=IBM+Plex+Sans+Arabic:wght@100;300;400;500&family=Rubik:wght@300;400&family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
html {
  max-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: #fffaf5;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 90%;
  max-width: 400px;
  overflow: hidden;
}
.info {
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 20px;
  display: grid;
  /* place-items: center; */
  gap: 50px;
  border-radius: 15px;
  box-shadow: 0 0 35px #00000029;
}
h1 {
  margin: 20px 0 -20px 10px;
  margin-top: 20px;
  margin-bottom: -20px;
  text-align: center;
  color: #00395c;
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email,
.password,
button {
  height: 40px;
  width: 100%;
  border: none;
  font-size: 15px;
  border-radius: 8px;
}
.email,
.password {
  padding-left: 15px;
  color: #00395c;
  box-shadow: 0 0 20px #00000027;
  border-radius: 7px;
}
.email:focus,
.password:focus {
  outline: 2px dotted #00395c;
}
button {
  background: #00395c;
  color: #fff;
  height: 45px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s;
  transform: translateY(10px);
}
button:hover {
  background: #01314f;
  transform: translateY(4px);
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
span {
  color: #005386;
  letter-spacing: 1px;
}
h4 {
  text-align: center;
}

h5 {
  margin: -20px 30px 0 30px;
  border-top: 1px solid #000;
  text-align: center;
  padding: 10px;
}

/* ========== boble section ======== */
body .boble {
  position: absolute;
  max-width: 400px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.circle {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #00395caf;
}
.circle.one {
  top: 20px;
  left: 10px;
  background: #00395ce2;
}
.circle.two {
  top: 300px;
  left: 400px;
}
